/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* global styles; set main site colors to be called as variables throughout */

:root {
  --text-color: #090925;
  --body-color: #d9dcd6;
  --border-color: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p {
  font-size: 16px;
  color: var(--text-color);
}

header {
  width: 100%;
  /* left padding set at 0 to run name box into side of viewport */
  padding: 20px 35px 20px 0;
  margin: 0;
  background-color: var(--text-color);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* opted against using a sticky header
  position: sticky; 
  z-index: 100; */
  top: 0;
}
  
header h1 {
  padding: 7px 35px 7px 100px;
  color: var(--text-color);
  background-color: var(--body-color);
  display: inline-block;
  font-size: 48px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

/* stripped default bullets off list and made horizontal */
header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  /* set nav items with left/right padding and border bottom to extend underline slightly to either side */
  padding: 0 10px 5px 10px;
  border-bottom: 3px solid var(--body-color);
}

header nav ul li a {
  color: var(--body-color);
  text-decoration: none;
}

/* hero container styling */

.hero {
  width: 100%;
  height: 225px;
  /* background-image: url("../images/desert.jpg"); */
  background-size: cover;
  margin-bottom: 30px;
}

.hero-subhead h2 {
  font-size: 24px;
  padding: 20px 0 0 50px;
}

/* styles for the About Me and Work sections */

/* container class for informational items */
.info-container {
  display: flex;
  padding: 20px 25px;
  margin-bottom: 30px;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  /* set uniform width for section headers */
  width: 200px;
  text-align: right;
  margin: 5px 0 5px 5px;
}

.section-header h1 {
  font-size: 45px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--text-color);
  padding-right: 20px;
  /* border right creates vertical line defined by depth of adjoining section content item */
  border-right: 3px solid var(--text-color);
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

/* set two classes to be able to define images in About Me differently than other two content sections */
.section-content, .section-about-me, .section-resume {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  margin: 5px 50px 10px 30px;
  padding: 0;
}

.section-resume ul, li {
  padding-left: 30px;
}

/* different border for headshot than for Work images, plus float applied and no opacity reduction on hover */
.section-about-me img {
  float: left;
  width: 150px;
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
}

.section-content img {
  border: 2px solid var(--border-color);
  width: 100%;
}

/* image opacity decreases by half on hover */
.section-content img:hover {
  opacity: 0.5;
}

.main-image {
  width: 100%;
  object-fit: cover;
  position: relative;
  margin-bottom: 20px;
}

.secondary-image {
  width: 49%;
  position: relative;
  margin-bottom: 20px;
}

.image-tab {
  padding: 10px 20px;
  background-color: var(--border-color);
  position: absolute;
  bottom: 70px;
  /* used z-index to remove tab overlay from the half-scale reduction in opacity of the images on hover */
  z-index: 100;
}

/* next two styles set size and weight for text in the image tabs */
.section-content h3 {
  font-size: 20px;
}

.section-content h4 {
  font-size: 14px;
  font-weight: normal;
}

/* styles for the Contact Me section */

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 20px;
}

/* styled list items as underlined */
.contact-info ul li {
  /* display: inline-block; */
  margin-left: 50px;
  border-bottom: 3px solid var(--text-color);
}

/* removed bullets from list with text-decoration; they are restored at smaller screen size */
.contact-info ul li a {
  color: var(--text-color);
  text-decoration: none;
}

/* contact items turn red on hover, including underline */
.contact-info ul li a:hover {
  color: red;
  border-bottom: 3px solid red;
  text-decoration: none;
}

/* contact items turn purple on click, including underline */
.contact-info ul li a:click {
  color: purple;
  border-bottom: 3px solid red;
  text-decoration: none;
}

footer {
  color: var(--body-color);
  background-color: var(--text-color);
  width: 100%;
  padding: 20px 35px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER (MAX WIDTH 980) */

@media screen and (max-width: 980px) {
  header {
      /* this will be applied on any screen smaller than 980px */
      padding-bottom: 0;
      justify-content: center;
      position: relative;
  }

  header h1 {
      width: 100%;
      text-align: center;
      /* for all sizes below 980px, swapped the text and background colors from the full-sized version for light text on dark background */
      color: var(--body-color);
      background-color: var(--text-color);
      padding: 0;
  }

  header nav ul {
      margin: 0;
      padding-bottom: 30px;
      width: 100%;
      justify-content: center;
      text-align: center;
  }

  header nav ul li a {
      font-size: 20px;
  }

  .main-image {
      width: 100%;
      object-fit: cover;
      position: relative;
      margin-bottom: 15px;
  }
  
  .secondary-image {
      width: 100%;
      position: relative;
      margin-bottom: 15px;
  }
  
  .image-tab {
      padding: 10px 20px;
      background-color: var(--border-color);
      position: absolute;
      bottom: 70px;
      /* constrained width of image tabs at smaller sizes */
      width: 60%;
  }

  .section-header h1 {
      font-size: 36px;
  }
  
  .section-content, .section-about-me {
      width: 60%
  }

  .section-content img {
      border: 5px solid var(--border-color);
      width: 100%;
  }
  
  .section-content h3 {
      font-size: 20px;
  }
  
  .section-content h4 {
      font-size: 14px;
      font-weight: normal;
  }

  .contact-info {
      display: flex;
      flex-direction: column;
  }

  /* restored bullets to contact items and aligned them as column for smaller sizes */
  .contact-info ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style-type: disc;
      padding: 0;
  }

  .contact-info ul li {
      list-style-type: disc;
      margin-left: 50px;
      border-bottom: 3px solid var(--text-color);
      margin-bottom: 10px;
  }   
  
}

/* MEDIA QUERY FOR TABLETS AND SMALLER (MAX WIDTH 768) */

@media screen and (max-width: 768px) {

  /* moved hero subhead left, reduced text size and constrained width */
  .hero-subhead h2 {
      font-size: 20px;
      padding: 20px 0 0 25px;
      width: 40%;
  }

  .section-content, .section-about-me {
      width: 90%
  }

  .info-container {
      display: contents;
  }

  .section-header {
      display: contents;
      text-align: left;
      padding: 0 20px;
  }

  .section-header h1 {
      font-size: 32px;
      border-right: none;
      text-decoration: underline solid var(--text-color);
      padding-bottom: 5px;
      text-align: left;
      margin: 0 20px 20px 20px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER (MAX WIDTH 575)
*/

@media screen and (max-width: 575px) {

  /* moved hero subhead even farther left (to avoid overrunning darkened dunes on hero picture) */
  .hero-subhead h2 {
      padding: 5px 0 0 20px;
  }
}